<!DOCTYPE html>
<html>
    <%- include("../templates/head.ejs") %>

    <body>

        <%- include("../templates/navBar.ejs") %>

        <div class="container">
  

            <div class="row">
                <div class="col-8">

                    <div>Average Rating:  $<%=  rating  %></div>
                    <div>Average Cost:  $<%= cost %> </div>
                    <br>
         

                </div>
            </div>

        </div>

        <%- include("../templates/footer.ejs") %>
    </body>

</html>