<h2>Destinations</h2>

<form action=" <%= '/destinations/' + des._id + '/edit' %>" method="POST">

  <div>
    <label class="form-label">
      Destination ID:
      <input class="form-control" type="text" name="_id" value="<%= des._id %>" disabled />
    </label>
  </div>

  <div>
    <label class="form-label">
      Destination:
      <input class="form-control" type="text" name="view" value="<%= des.view %>" />
    </label>
  </div>

  <div>
    <label class="form-label">
      State("Initials"):
      <input class="form-control" type="text" name="State" value="<%= des.State %>" />
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
  <a class="btn btn-danger" href="<%= '/destinations/' + des._id+ '/delete' %>">Delete</a>
</form>